@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&family=Roboto:ital,wght@0,400;0,500;0,900;1,300;1,400;1,500;1,700&display=swap');

body {
	background: #050505;
	color: #E0E0E0;
	display: flex;
	flex-direction: column;
	margin: auto;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.Section {
	display: flex;
	flex-direction: column;
	background: #171717;
	border-radius: 15px;
	border: 1px solid #000;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 80%;
	max-width: 900px;
}

img {
	margin-left: auto;
	margin-right: auto;
}


table {
	color: #E0E0E0;
	width: 95%;
	margin: auto;
	
}

table.setup { 
	width: 60%;
}


table.outputs {
	width: 100%;
	font-weight: 300;
	border: 1px solid #111;
	border-radius: 7px;
	background: #000;
}

table.outputs > thead {

}

table.sprompt {
	width: 80%;
}

table.ccards code {
	margin-left: 25px;
	margin-right: 25px;
}

.Col1 {
	border-right: solid 1px #f2f2f2;
}

.Col1, .Col2 {
	vertical-align: top;
	width: 50%;
	padding: 5px;
	padding-left: 25px;
	padding-right: 25px;
	color: #DCDCD2;
}

h1 {
	text-align: center;
	margin-top: -10px;
	margin-bottom: -10px;
	font-weight: 900;
}

h2 {
	margin-top: -5px;
	margin-bottom: 5px;
	font-weight: 700;
	font-style: italic;
}

h3 {
	display: block;
	margin-top: 15px;
	margin-bottom: 5px;
	font-weight: 500;
}




.italic {
	font-weight: 400;
	font-style: italic;
	color: #919191;
}

.speech {
	font-weight: 500;
	font-style: none;
	color:  #FF8A14;
}

.header {
	font-weight: bold;
}

code {
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
	display: block;
	padding: 10px;
	background: #0A0A0A;
	border-radius: 7px;
	border: 1px solid #000;
}


.dark { 
	background: #222831; 
}
	
.med { 
	background: #393e46; 
}

.lit {
	background: #93A0B4;
}

.ornj { 
	background: #f96d00; 
}

.white { 
	background: #f2f2f2; 